.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta {
    width: 300px;
    height: 300px;
    background: grey;
    margin: 80px 20px;
    position: relative;
    border-radius: 30px;
}

.articulo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;

}

.precio {
    position: absolute;
    bottom: 0;
    left: 60%;
    color: white;
    font-weight: bold;
    font-family: "Protest Strike", sans-serif;
    font-size: 20px;
}

/* .numero {
    background: orange;
    position: absolute;
    color: white;
    padding: 20px;
    border-radius: 50%;
    top: -40px;
    left: 90%;
} */

.numero {
    background: orange;
    color: white;
    padding: 10px; /* Ajustar padding si es necesario */
    border-radius: 50%;
    position: absolute;
    top: -10px; /* Ajustar la posición vertical */
    right: -20px; /* Hacer que sobresalga a la derecha */
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Alto del círculo */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    font-size: 16px; /* Tamaño de fuente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra opcional */
}